.button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor:  pointer;
}

.button-round:hover {
    background: #00C470;
}