.button-solid {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    border: none;
  
    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: #fff;
    color: #2E2E2E;
  
    cursor: pointer;
  }
  
  .button-solid:hover {
      background-color: #000;
      color: #fff;
  }
  
  .button-solid:focus {
      outline: none;
      background-color: #2f2f2f;
      color: #fff;
    }