.card {
  width: 270px;
  text-align: center;
  /* Tablet */
  @media (max-width: 1199px) {
    width: 195px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    width: 270px;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    width: 290px;
  }
}

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    margin-bottom: 22px;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    margin-bottom: 24px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;

  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 10px;
    min-height: 32px;
    line-height: 1.5;
  }
  /* Mobile */
  @media (max-width: 899px) {
    min-height: unset;
  }
}
.card__title--special {
  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 27px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    margin-bottom: 9px;
  }
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;

  color: $paragraphColor;

  /* Tablet */
  @media (max-width: 1199px) {
    line-height: 1.57;
  }
}
