.slider {
  position: relative;
  padding-bottom: 54px;

  /* Mobile */
  @media (max-width: 899px) {
      padding-bottom: 44px;
  }
}

.section-clients__slider {
  position: relative;
}

.slider__arrow {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #F5F5F5;
  border: none;

  cursor: pointer;
  transition: background-color 0.2s ease-in;

  .slider__arrow-svg {
      stroke: #00C470;
  }

  &:hover{
      background-color: #00C470;

      .slider__arrow-svg {
          stroke: #ffffff;
      }
  }

  &--left {
      top: 53px;
      left: -46px;
      transform: translateX(-100%);
      @media (max-width: 949px) {
          left: -30px;
      }
  }

  &--right {
      top: 53px;
      right: -46px;
      transform: translateX(100%);
      @media (max-width: 949px) {
          right: -30px;
      }
  }

  /* Mobile XS */
  @media (max-width: 599px) {
      display: none;
  }
}

.slider__pagination {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__pagination-item {
  margin-right: 10px;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #E1E1E1;

  &:last-child {
      margin-right: 0;
  }
}

.slider__pagination-item--active {
  background: #00C470;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;

  p {
      margin-bottom: 15px;
  }

  /* Tablet */
  @media (max-width: 1199px) {
      line-height: 1.5;
  }

  /* Mobile */
  @media (max-width: 899px) {
      font-size: 16px;
      margin-bottom: 20px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
      font-size: 14px;
  }

}

.slider-item__author {
  display: flex;
  align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

  /* Mobile XS */
  @media (max-width: 599px) {
      margin-right: 10px;
      width: 60px;
      height: 60px;
  }
}

.slider-item__author-desc {
  font-size: 16px;
  font-weight: 500;

  /* Mobile XS */
  @media (max-width: 599px) {
      font-size: 14px;
  }
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00C470;
}

.slider-item__author-name {
  display: block;
  color: #808080;
}
