.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $accentText;

/* Mobile */
@media (max-width: 899px) {
  font-size: 14px;
}

}
.title--white {
color: #fff;
}

.subtitle--white {
  color: #fff;
}